/* OasisDiscussions styling */
/** Discussions page styling **/
.skin-oasis.discussions .discussion-wrapper {
    background: var(--color-page);
}
/** Discussions navigation event **/
.discussions .discussion-content-wrapper {
    animation: discussions__navi 1ms 1 ease;
}
@keyframes discussions__navi {
    from { outline-color: currentColor; }
    to   { outline-color: transparent; }
}
/** Discussions mobile responsive breakpoint **/
.discussions .site-head-container {
    animation: discussions__mobi 1ms 1 ease;
}
@keyframes discussions__mobi {
    from { outline-color: currentColor; }
    to   { outline-color: transparent; }
}
/** Discussions desktop responsive breakpoint **/
.discussions .wds-global-navigation-wrapper {
    animation: discussions__wide 1ms 1 ease;
}
@keyframes discussions__wide {
    from { outline-color: currentColor; }
    to   { outline-color: transparent; }
}

