/* OasisDiscussions styling */
/** Discussions page styling **/
.skin-oasis.discussions .discussion-wrapper {
    background: var(--color-page);
}
/** Discussions event styling **/
/*** Discussions initialisation event ***/
.discussions #dom_ruler-text_measurer {
    animation: discussions__init 1ms 1 ease;
}
@keyframes discussions__init {
    from { outline-color: currentColor; }
    to   { outline-color: transparent; }
}
/*** Discussions navigation event ***/
.discussions .discussion-content-wrapper {
    animation: discussions__content 1ms 1 ease;
}
@keyframes discussions__content {
    from { outline-color: currentColor; }
    to   { outline-color: transparent; }
}
/*** Discussions mobile responsive breakpoint ***/
.discussions .wds-community-bar {
    animation: discussions__mobile 1ms 1 ease;
}
@keyframes discussions__mobile {
    from { outline-color: currentColor; }
    to   { outline-color: transparent; }
}
/*** Discussions desktop responsive breakpoint ***/
.discussions .wds-community-header {
    animation: discussions__desktop 1ms 1 ease;
}
@keyframes discussions__desktop {
    from { outline-color: currentColor; }
    to   { outline-color: transparent; }
}